.hero {
  height: 100vh;
  background-color: rgba(240,240,240,.35);
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.4);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 90vw;
  width: calc(100vw - 6.5rem);
  background-color: rgba(255,255,255,.2);
  background-image: url(../img/dots.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 5vmax;
  background-attachment: fixed;
  opacity: .67;
}

.hero > .bigwords {
  max-width: 34rem;
  z-index: 999
}

.hero > .bigwords > h1 {
  color: #F94E4F;
  font-size: 5rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 1rem;
}

.hero > .bigwords > p {
  color: white;
  font-size: 2.7rem;
  margin: 0;
  margin-bottom: 1.8rem;
}

.updates {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282F2F;
  z-index: 999;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .85rem;
  padding: .55rem;
}
