.hero {
  height: 100vh;
  background-color: rgba(200,200,200,.3);
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::after {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.2);
  background-image: url(../img/dot-overlay.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 45vmin;
  background-attachment: fixed;
}

.hero > .bigwords {
  z-index: 1;
  padding: 4rem;
  max-width: 45rem;
}

.hero > .bigwords > h1 {
  color: #f33;
  font-size: 4.5em;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 1rem;
}

.hero > .bigwords > p {
  color: white;
  font-size: 2em;
  margin: 0;
}

@media (max-width: 500px) {
  .hero > .bigwords {
    font-size: 75%;
  }
}
