html { box-sizing: border-box }

*,
*:before,
*:after { box-sizing: inherit }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

::selection      { background: black; color: white }
::-moz-selection { background: black; color: white }

a {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px 0;
}

/* Insert awesome. */
