html { box-sizing: border-box }

*,
*:before,
*:after { box-sizing: inherit }

body {
  font-family: 'Heebo', sans-serif;
  line-height: 1.4;
}

::selection      { background: black; color: white }
::-moz-selection { background: black; color: white }

a {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.logo-nav {
  position: fixed;
  left: 4rem;
  top: 4rem;
}

.logo-nav > div {
  width: 4rem;
  height: 4rem;
}

.logo-nav > .logo {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.logo-nav > .nav {
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 67%;
}
