.logo-nav {
  position: fixed;
  left: 4em;
  top: 4em;
  z-index: 999;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  border-radius: 3px;
  background-color: white;
}

.logo-nav > a {
  display: block;
  width: 3.75em;
  height: 3.75em;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms;
          transition: background-color 200ms;
  cursor: pointer;
}

.logo-nav > .logo {
  background-image: url(../img/logo.svg);
  background-size: 67%;
}

.logo-nav > .nav {
  background-image: url(../img/menu.svg);
  background-size: 50%;
}

@media (max-width: 500px) {
  .logo-nav {
    font-size: 75%;
  }
}
